/* need a fixed header and footer */

.container {
  justify-content: space-between;
  height: 100%;
}

/* header should be fixed on top when scrolling y */
.header {
  top: 0;
  width: 100%;
  position: sticky;
  background-color: #fff;
  border-bottom: 1px solid #8e8c8c;
  overflow: hidden;
  display: block;
  z-index: 101;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0 1rem 0 1rem;
}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  padding: 0 1rem 0 1rem;
}

.header-body-left {
  display: flex;
}

.header-body-right {
  display: flex;
  padding-right: 20px;
  margin-right: 10px;
}

.header-body-right p {
}

.assignments {
  display: flex;
  align-items: center;
  width: 100%;
}

.assignments p {
  padding-left: 10px;
}

.employee {
  padding-left: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.employee p {
  padding-left: 10px;
  width: 100%;
  white-space: nowrap;
}

.weight {
  padding-left: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.weight p {
  padding-left: 10px;
  width: 100%;
  white-space: nowrap;
}

.container-body {
  width: 90%;
  margin: 0 auto; /* Center the container in the middle of the page */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allies {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
}

.left-alley-header,
.right-alley-header {
  flex: 1; /* Equal width for both headers */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: #ccc 1px solid;
  border-width: 90%;
}

.left-alley-header {
  margin-right: 5%;
}

.left-alley-header p,
.right-alley-header p {
  padding-right: 20px;
}

.right-alley-header {
  margin-left: 5%;
}

.missing {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 10px;
  white-space: nowrap;
  border-bottom: #ccc 1px solid;
}

.item-container {
  width: 90%;
  margin: 0 auto; /* Center the container in the middle of the page */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.items-body {
  width: 70%;
  /* display: flex; */
  /* justify-content: space-between; */
  margin-right: 10%;
}

.item-right,
.item-left {
  display: flex;
  justify-content: flex-end; /* Right justify the content */
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.item-right {
  width: 100%;
  padding-right: 0; /* Shift the item 50% to the right within item-body */
}

.item-left {
  width: 45%;
}

.hr-left {
  width: 100%;
  margin-right: 5%;
  background-color: rgb(255, 188, 57);
  color: rgb(255, 188, 57);
  height: 2px;
  border: 0;
}

.hr-right {
  width: 100%;
  margin-left: 5%;
  background-color: rgb(255, 188, 57);
  color: rgb(255, 188, 57);
  height: 2px;
  border: 0;
}

.straight-lines {
  width: 100%;
  margin: 0 auto; /* Center the container in the middle of the page */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-footer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 3rem;
  margin-right: 30%;
  background-color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 3rem;
  background-color: #9c6faa;
}

.stop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #fff;
}
