/* need a fixed header and footer */

.container {
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: space-between;
  height: 100%;
}

/* header should be fixed on top when scrolling y */
.header {
  top: 0;
  width: 100%;
  position: sticky;
  background-color: #fff;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0 1rem 0 1rem;
}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  border-bottom: 1px solid #ccc;
  padding: 0 1rem 0 1rem;
}

.header-body-left {
  display: flex;
}

.header-body-right {
  display: flex;
  padding-right: 20px;
  margin-right: 10px;
}

.assignments {
  display: flex;
  align-items: center;
  width: 100%;
}

.assignments p {
  padding-left: 10px;
}

.employee {
  padding-left: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.employee p {
  padding-left: 10px;
  width: 100%;
  white-space: nowrap;
}

.weight {
  padding-left: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

.weight p {
  padding-left: 10px;
  width: 100%;
  white-space: nowrap;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 3rem;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.stop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #fff;
}
